.html {
	height: 100%; 
}

.page {
  background-color: #fff;
  color: #333; 
  font: 1rem arial, helvetica, clean, sans-serif;
  height: 100%; 
  margin: 0; 
  padding: 0; 
  position: relative; 
  width: 100%; 
}

.main {
  box-shadow: 3px 0px 7px 9px rgba(0,0,0,0.17);
  height: auto; 
  margin: 0 auto; 
  min-height: 100%; 
  padding: 0; 
  width: 90%; 
  min-height: 100%; 
  background-color: #f6f6f6; 
} 

/*Button */

.button {
  appearance: none; 
  background: none; 
  border: none; 
  font: 1rem georgia, times, serif; 
  text-align: center; 
  padding: 0; 
  margin: 0; 
}

.button:hover {
  appearance: none; 
  cursor: pointer;
}

.button:focus, 
.button:active {
  appearance: none; 
  outline: none;
} 

/* Heading and regular text */

.heading-h1 {
  font: 1.7rem georgia, times, serif; 
  color: #0b5f79;
  margin: 0.7em 0 0.7em 0; 
} 

.heading-h2 {
  font: 1.5rem georgia, times, serif; 
  color: #6B5204;
  margin: 0.6em 0 0.6em 0; 
} 

.heading-h3 {
  font: 1.2rem georgia, times, serif; 
  color: #4f4630;
  margin: 0.5em 0 0.5em 0; 
} 

.heading-h4 {
  font: 1.0rem georgia, times, serif; 
  color: #000;
  margin: 0.4em 0 0.4em 0; 
} 

.text {
  font: 1rem arial, helvetica, clean, sans-serif; 
  color: #4F4630; 
  text-align: justify;
} 

/* Links */

.external-link, 
.external-link:focus, 
.external-link:active, 
.external-link:visited {
  appearance: none; 
  background: none; 
  outline: none;
} 

.external-link:focus {
  cursor: pointer; 
} 

/* Forms */
.input {
  color: #2e2e2e;
  font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
  font-size: 1.1rem;
  text-align: left; 
}

.input, 
.input:active, 
.input:focus {
  outline: none;
} 

.input:invalid {
  background-color: #ffc0cb; 
  box-shadow: 0 0 5px 1px red;
}

.input_textfield, 
.input_number, 
.input_telephone, 
.input_email {
  appearance: none;
  border-radius: 3px;   
  border: 0.5px solid #ccc9c9; 
  height: 31px; 
  padding: 0 0 0 8px;
  width: 250px;
} 

.input_textfield-search {
  border-left: 0.5px solid #fff;
  border-radius: 0 3px 3px 0;   
  border: 0.5px solid #ccc9c9; 
} 

.input_textfield-search:focus,
.input_number:focus, 
.input_telephone:focus, 
.input_email:focus {
  border: 0.5px solid #20d6cd;
  box-shadow: 0 0 10px #20d6cd;
} 

.select {
  appearance: none;
  height: 40px; 
  width: auto; 
  min-width: 350px;
  border: 0.5px solid #ccc9c9; 
  background-color: #fff; 
  border-radius: 5px;
  font-size: 1.4em;
  font-family: 'Roboto', Helvetica, Arial, Sans-Serif; 
  text-align: left; 
  color: #333; 
  margin: 20px 5px 20px 0;
  padding: 0 0 0 8px;
} 

.select:hover {
  outline: none; 
  cursor: pointer;
  border: 0.5px solid #20d6cd;
}

.select:focus {
  outline: none; 
  border: 0.5px solid #20d6cd;
  box-shadow: 0 0 10px #20d6cd;
  outline: none;
  color: rgb(40, 40, 40) ; 
}

/*Landing page*/ 

.landing-page {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  padding: 0; 
  margin: 0; 
  background-color: rgba(255,255,255,1.0);
  z-index: 50;
} 

.landing-page_background {
  height: 100%; 
  left: 0; 
  margin: 0;
  opacity: 0;
  padding: 0; 
  position: absolute;
  top: 0;
  transition: opacity 1.0s 0.1s;
  width: 100%; 
  z-index: 60;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  filter: blur(3px) sepia(70%);
} 

.landing-page_background-visible {
  opacity: 1;
  z-index: 70;
} 

.landing-page_slider {
  position: absolute; 
  z-index: 90; 
  top: 50%; 
  left: 50%; 
  height: 80%; 
  width: 80%; 
  padding: 0; 
  margin: 0; 
  overflow: hidden; 
  display: flex; 
  justify-content: flex-end; 
  align-items: flex-end;
  align-content: space-around; 
  transform: translate(-50%, -50%);
  border-radius: 15px; 
  border: 3px solid #0b5f79;
}

.landing-page_slide {
  transition: opacity 1.0s, background-position 9.0s, background-position-x 9.0s, background-position-y 9.0s;
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
  height: 100%; 
  left: 0; 
  margin: auto;
  opacity: 0;
  position: absolute;
  top: 0; 
  width: 100%; 
  z-index: 80;
}

.landing-page_slide-visible {
  opacity: 1;
  z-index: 90;
} 

.landing-page_content {
  position: relative; 
  z-index: 100;
  margin: 0 40px 40px 0; 
  border-radius: 10px; 
  background-color: rgba(248,248,216,0.6); 
  text-align: center; 
} 

.landing-page_button-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: center; 
}

.landing-page-button {
  height: 60px; 
  width: 220px; 
  border-radius: 10px; 
  border: 2px solid #4F4630; 
  transition: ease-in-out 0.2s;
  text-transform: uppercase;
  margin: 20px; 
  font-weight: bold; 
  font-size: 1.5rem; 
  color: #0b5f79; 
  background-color: rgba(255,255,255,0.7);
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
} 

.landing-page-button:hover {
  cursor: pointer; 
  border: 2px solid #dcdcdc; 
  transition: ease-in-out 0.2s;
  box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.7);
  color: #a21029;
  background-color: rgba(255,255,255,0.9);
}

.landing-page-button:active {
  border: 2px solid #dcdcdc; 
  box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,0.5);
  transition: ease-in-out 0.2s;
  color: #a21029;
  background-color: rgba(255,255,255,0.9);
}

.landing-page_slide-1, 
.landing-page_background-1 {
  background-image: url(../images/LandingPage/landing-page01.jpg); 
}

.landing-page_slide-2, 
.landing-page_background-2 {
  background-image: url(../images/LandingPage/landing-page02.jpg); 
} 

.landing-page_slide-3, 
.landing-page_background-3 {
  background-image: url(../images/LandingPage/landing-page03.jpg); 
}

.landing-page_slide-4, 
.landing-page_background-4 {
  background-image: url(../images/LandingPage/landing-page04.jpg); 
} 

.landing-page_slide-5, 
.landing-page_background-5 {
  background-image: url(../images/LandingPage/landing-page05.jpg); 
}

.landing-page_slide-6, 
.landing-page_background-6 {
  background-image: url(../images/LandingPage/landing-page06.jpg); 
}

.landing-page_slide-7, 
.landing-page_background-7 {
  background-image: url(../images/LandingPage/landing-page07.jpg); 
}

.landing-page_slide-8, 
.landing-page_background-8 {
  background-image: url(../images/LandingPage/landing-page08.jpg); 
}

.landing-page_slide-9, 
.landing-page_background-9 {
  background-image: url(../images/LandingPage/landing-page09.jpg); 
}

.landing-page_slide-10, 
.landing-page_background-10 {
  background-image: url(../images/LandingPage/landing-page10.jpg); 
}

/*Header*/

.header {
  align-content: space-between;
  align-items: flex-end; 
  background-color: #f6f6f6; 
  border-bottom: 7px solid #a6a6a6; 
  display: flex; 
  flex-wrap: wrap; 
  height: auto; 
  justify-content: space-between; 
  margin: 0 auto; 
  padding: 20px 0 45px 0; 
  position: relative;
  width: 100%; 
}

@media screen and (max-width: 1200px) {
  .header {
    justify-content: center;
  } 
}

/*Header logo*/

.header_logo {
  color: #a21029; 
  font-family: 'Bree Serif', serif; 
  height: auto;
  margin: 0;
  padding: 0 10px; 
  width: auto;
}

.header_logo:hover {
  cursor: pointer; 
}

.header_logo-line-1 {
  font-size: 2rem;
  margin: 0;
  padding: 0; 
} 

.header_logo-line-2 {
  font-size: 3.5rem;
  line-height: 0.7em; 
  margin: 0;
  padding: 0; 
  text-transform: uppercase;
} 

/*Header navigation window*/

.header_nav-container {
  width: auto; 
  margin: 0 auto; 
  padding: 0; 
  position: relative; 
  top: 30px; 
} 

.header_nav-main, 
.header_nav-visit {
  width: auto; 
  height: auto; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-content: center;
  align-items: center; 
  margin: 0; 
  padding: 0;
} 

.header_nav-visit {
  max-height: 40px; 
  position: relative; 
  top: 8px; 
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .header_nav-main,
  .header_nav-visit {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
  } 
}

.header_nav-submenu-container {
  max-height: 40px;
  position: relative; 
  transition: all 0.5s ease-in-out;
} 

.header_nav-submenu-container-expand {
  top: 8px; 
  transition: all 0.5s ease-in-out;
}

.horizontal-line {
  width: 100%; 
  height: 0; 
  border-bottom: 2px solid #a6a6a6;
  margin: 0; 
  padding: 0; 
  position: relative; 
  top: 8px; 
} 

.vertical-line-container {
  width: 100%; 
  height: auto;
  max-height: 20px; 
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-content: stretch;
  align-items: stretch; 
  margin: 0; 
  padding: 0; 
  transition: all 0.5s ease-in-out;
}

.vertical-line {
  width: 50%; 
  height: 15px; 
  margin: 0; 
  padding: 0; 
} 

.vertical-line:nth-of-type(2n) {
  border-left: 2px solid #a6a6a6;
} 

.header_nav-main_button {
  color: #3d351f;
  font-size: 1.5rem; 
  min-width: 150px;
  text-align: center;
  text-transform: uppercase; 
  width: auto;
} 

.header_nav-main_button:hover {
  color: #0b5f79; 
}

.header_nav-info {
  align-content: space-around;
  align-items: flex-end; 
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: center; 
  margin: 0 0 5px 0;
}

.header_nav-info_button {
  color: #7e7662; 
  font-size: 0.8rem;
  min-width: 80px;
  text-align: center;
  width: auto;
  height: 1.5em;
}

.header_nav-info_button:nth-of-type(2n) {
  border-left: 0.5px solid #7e7662; 
  border-right: 0.5px solid #7e7662; 
}

.header_nav-info_button:hover {
  color: #a21029; 
} 

/*Header search window*/

.header_search {
  margin-right: 20px;
} 

@media screen and (max-width: 1200px) {
  .header_search {
    margin-top: 40px; 
  } 
}

.header_search-form {
  align-content: space-around;
  align-items: flex-end; 
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: center; 
}

.header_search-form_button {
  align-content: center;
  align-items: center; 
  background-color: #d9e8f7; 
  border-radius: 3px 0 0 3px;   
  border: 0.5px solid #ccc9c9; 
  border-right: 0.5px solid #d9e8f7; 
  display: flex; 
  height: 32px;
  justify-content: center; 
  padding: 0;
  width: 32px;
} 

.header_search-form_button:hover {
  border: 0.5px solid #20d6cd;
  box-shadow: 0 0 10px #20d6cd;
  outline: none;
  border-radius: 3px; 
} 

.header_search-form_button:active {
  box-shadow: 0 0 10px #20d6cd, inset 2px 2px 1px 0px rgba(90, 90, 90, 0.85);
  border: 0.5px solid #20d6cd;
  outline: none;
  border-radius: 3px; 
}

.magnifying-glass {
  background-image: url(../images/icons/magnifying-glass.svg); 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: contain; 
  height: 18px; 
  width: 18px; 
}

.header_nav-visit_button {
  color: #3d351f;
  font-size: 0.9rem; 
  min-width: 100px;
  text-align: center;
  text-transform: uppercase; 
  width: auto;
}

.header_nav-visit_button:hover {
  color: #0b5f79; 
}

/*Main page*/

.main-page {
  min-height: 100%; 
}

/*Main page slider*/

.slider {
  align-content: center;
  align-items: center; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex; 
  height: 300px; 
  justify-content: space-between; 
  margin: 25px; 
  width: calc(100% - 50px); 
  box-shadow: 7px 7px 7px 2px rgba(0,0,0,0.7);
  position: relative; 
  overflow: hidden;
} 

.slider_slides-container {
  position: absolute;
  width: 300%; 
  height: 100%; 
  left: -100%;
  margin: 0;
  padding: 0; 
  align-content: center;
  align-items: center; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex; 
  justify-content: space-between; 
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%; 
  height: 100%; 
  display: inline-block;
  margin: 0;
  padding: 0; 
  transition: left 1.0s ease-in-out; 
  z-index: 10; 
} 

.slide-current {
  left: 0; 
}

.slide-prev {
  left: -100%;
} 

.slide-next {
  left: 100%;
}

.slide-hidden {
  left: 100%;
}

.slide-1 {
  background-image: url(../images/MainPage/splash-screen-1.bmp);
}

.slide-2 {
  background-image: url(../images/MainPage/splash-screen-2.bmp);
}

.slide-3 {
  background-image: url(../images/MainPage/splash-screen-3.bmp);
}

.slide-4 {
  background-image: url(../images/MainPage/splash-screen-4.bmp);
}

.slide-5 {
  background-image: url(../images/MainPage/splash-screen-5.bmp);
}

.slide-6 {
  background-image: url(../images/MainPage/splash-screen-6.bmp);
}

.slide-7 {
  background-image: url(../images/MainPage/splash-screen-7.bmp);
}

.arrow-container {
  align-content: center;
  align-items: center; 
  background-color: rgba(235,235,235,0.2); 
  border-radius: 50%; 
  display: flex; 
  height: 50px; 
  justify-content: center; 
  margin: 0 5px; 
  width: 50px; 
  z-index: 20; 
} 

.arrow-container:hover {
  background-color: rgba(125,125,125,0.5); 
  transition: ease-in-out 0.1s;
}

.arrow-container:active {
  background-color: rgba(105,105,105,0.7); 
  border: 1px solid #373737;
  box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  transition: ease-in-out 0.05s;
}

.right-slide-arrow {
  border: solid #16631c;
  border-width: 0 0.4em 0.4em 0;
  display: inline-block;
  padding: .40em;
  margin-left: -0.2em;
  transform:rotate(-45deg);
} 

.left-slide-arrow {
  border: solid #16631c;
  border-width: 0 0.4em 0.4em 0;
  display: inline-block;
  padding: .40em;
  margin-left: 0.2em;
  transform:rotate(135deg);
} 

.arrow-container:hover .right-slide-arrow, 
.arrow-container:active .right-slide-arrow {
  border: solid #3BFD49;
  border-width: 0 0.4em 0.4em 0;
  display: inline-block;
  padding: .40em;
  margin-left: 0.2em;
  transform:rotate(-45deg);
  transition: ease-in-out 0.1s;
} 
 
.arrow-container:hover .left-slide-arrow, 
.arrow-container:active .left-slide-arrow {
  border: solid #3BFD49;
  border-width: 0 0.4em 0.4em 0;
  display: inline-block;
  padding: .40em;
  margin-left: -0.2em;
  transform:rotate(135deg);
  transition: ease-in-out 0.1s;
} 

/*Main page sections*/

.main-page_section {
  height: 75px; 
  background-color: rgba(248,248,216,0.6); 
  border: 1px solid #e6e675;
  border-radius: 5px; 
  margin: 20px;
  padding: 0; 
  min-width: 210px; 
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
} 

.exhibitions-section {
  width: 70%;
  transition: all 0.5s ease-in-out;
} 

.events-section {
  width: 60%;
  transition: all 0.5s ease-in-out;
}

.tours-section {
  width: 50%;
  transition: all 0.5s ease-in-out;
}

.gallery-section {
  width: 40%;
  transition: all 0.5s ease-in-out;
}

.location-section {
  width: 30%;
  transition: all 0.5s ease-in-out;
} 

.section-visible {
  width: calc(100% - 40px);
  height: auto; 
  transition: all 0.5s ease-in-out;
} 

/*Main page sections animation*/

.main-page_section-caption {
  font: 2em georgia, times, serif;
  margin: 20px 0 20px 10px; 
  padding: 0; 
  min-width: 210px;
  color: #333333;
  display: flex; 
  flex-wrap: nowrap; 
  align-content: center; 
  align-items: center;
  justify-content: flex-start;
} 

.main-page_section-heading, 
.open-list-arrow-container {
  margin: 0; 
  padding: 0; 
} 

.main-page_section-heading {
  margin-right: 20px; 
}


.open-list-arrow-container {
  transition: ease-in-out 0.2s;
}

.open-list-arrow {
  border: solid #333333;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: .20em;
  margin-left: -0.3em;
  transform:rotate(-45deg);
  transition: ease-in-out 0.2s;
} 

.main-page_section-caption:hover .main-page_section-heading {
  color: #0b5f79;
  cursor: pointer;
}

.main-page_section-caption:hover .open-list-arrow {
  border: solid #0b5f79;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: .20em;
  margin-left: -0.3em;
  transform:rotate(-45deg);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.main-page_section-caption:active .main-page_section-heading {
  color: #a21029;
}

.main-page_section:focus .open-list-arrow, 
.main-page_section-caption:active .open-list-arrow {
  border: solid #a21029;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: .20em;
  margin-left: -0.3em;
  transform:rotate(-45deg);
  transition: ease-in-out 0.2s;
}

.main-page_section-caption:hover .open-list-arrow-container, 
.main-page_section-caption:focus .open-list-arrow-container {
  transform:rotate(90deg);
  transition: ease-in-out 0.2s;
}

.main-page_section-caption:active .open-list-arrow-container {
  transform:rotate(90deg);
  transition: ease-in-out 0.2s;
  margin-top: 10px; 
}

.main-page_section-content {
  display: flex; 
  flex-wrap: wrap; 
  align-content: flex-start; 
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px; 
}

.main-page_section-description {
  width: 30%; 
  border-bottom: 0.5px solid #7e7662; 
} 

.main-page_section-information {
  width: 65%; 
  border: solid #7e7662;
  border-style: double;
  border-radius: 5px; 
  padding: 10px; 
}

@media screen and (max-width: 600px) {
  .main-page_section-description, 
  .main-page_section-previews-container {
    width: auto; 
  } 
}

.main-page_section-exhibit-preview {
  display: flex; 
  flex-wrap: wrap; 
  align-content: center; 
  align-items: center;
  justify-content: space-between;
  transition: ease-in-out 0.2s;
  border: 0.5px solid rgba(248,248,216,0.6); 
} 

.main-page_section-exhibit-preview:nth-of-type(2n) {
  border-top: 0.5px solid #7e7662; 
  border-bottom: 0.5px solid #7e7662; 
}

.main-page_section-exhibit-preview:hover {
  background-color: #d3d3f4;
  cursor: pointer;
  transition: ease-in-out 0.2s;
} 

.main-page_section-exhibit-preview:hover .heading-h2 {
  color: #a21029;
  transition: ease-in-out 0.2s;
}

.main-page_section-exhibit-preview:active {
  border: 0.5px solid #20d6cd;
  box-shadow: 0 0 10px #20d6cd;
  transition: ease-in-out 0.1s;
}

.main-page_section-image-container {
  margin: 5px;
  width: 160px; 
  height: 100px; 
  background-color: #fff; 
  box-shadow: 7px 7px 7px 2px rgba(0,0,0,0.7);
}

.main-page_section-image {
  margin: 10px 10px 20px 10px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  width: 140px; 
  height: 70px; 
}

.main-page_section-exhibit-description {
  max-width: calc((100% - 150px) * 0.9); 
  margin-right: 10px; 
} 

@media screen and (max-width: 900px) {
  .main-page_section-exhibit-description {
    max-width: 100%; 
    width: 100%; 
  } 
}

.paleontology-image {
  background-image: url(../images/Exhibits/Paleontology/mainpage-exhibition-preivew.jpg); 
}

.ancient-image {
  background-image: url(../images/Exhibits/Ancient-world/mainpage-exhibition-preivew.jpg); 
}

.wild-life-image {
  background-image: url(../images/Exhibits/Wild-life/mainpage-exhibition-preivew.jpg); 
}

.human-evolution-image {
  background-image: url(../images/Exhibits/Human-Evolution/mainpage-exhibition-preivew.jpg); 
}

.history-of-weapons-image {
  background-image: url(../images/Exhibits/History-of-weapons/mainpage-exhibition-preivew.jpg); 
}

.fossils-in-focus-image {
  background-image: url(../images/Events/Fossils-in-Focus/mainpage-event-preivew.jpg); 
}

.mummies-image {
  background-image: url(../images/Events/Mummies/mainpage-event-preivew.jpg); 
}

.the-titanosaur-image {
  background-image: url(../images/Events/The-Titanosaur/mainpage-event-preivew.jpg); 
}

/*Contacts section*/

.map-container {
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
}

.map {
  width: 100%; 
  height: 450px;
}

/*Guided tours section*/

.admissions-page_button {
  width: auto; 
  min-height: 60px; 
  border-radius: 5px; 
  border: 1px solid #a21029; 
  transition: ease-in-out 0.2s;
  text-transform: uppercase;
  padding: 0 0 0 8px; 
  margin: 20px; 
  font-weight: bold; 
  font-size: 1.5rem; 
  color: #4F4630; 
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
}

.admissions-page_button:hover {
  cursor: pointer; 
  border: 1px solid #dcdcdc; 
  transition: ease-in-out 0.2s;
  box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.7);
  color: #0b5f79;
}

.admissions-page_button:active {
  border: 1px solid #dcdcdc; 
  box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,0.5);
  transition: ease-in-out 0.2s;
  color: #0b5f79;
}

.main-page_subsection {
  margin: 20px; 
  padding: 0; 
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  align-content: space-between; 
  justify-content: space-between; 
}

.main-page_subsection-block {
  border: 1px solid #4F4630; 
  border-radius: 5px; 
  margin: 20px 10px; 
  padding: 0; 
  width: auto;
  min-width: 25%; 
  height: auto;
  transition: ease-in-out 0.1s;
}

.main-page_subsection-block:hover, 
.main-page_subsection-block:focus {
  border: 1px solid #20d6cd; 
  box-shadow: 0 0 10px #20d6cd;
  transition: ease-in-out 0.1s;
}

.main-page_subsection-content {
  margin: 10px; 
}

.main-page_subsection-sections {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  align-content: space-between; 
  justify-content: space-between; 
}

.main-page_subsection-section-content {
  margin-bottom: 10px;
}

.main-page_subsection-section-content:nth-of-type(2n) {
  border-left: 1px solid #4F4630;
}

@media screen and (max-width: 892px) {
  .main-page_subsection-section-content:nth-of-type(2n) {
    border: none; 
  } 
}

.confirm-order-button {
  width: auto; 
  min-height: 60px; 
  border-radius: 5px; 
  border: 1px solid #a21029; 
  transition: ease-in-out 0.2s;
  text-transform: uppercase;
  padding: 0 8px 0 8px; 
  margin: 20px; 
  font-weight: bold; 
  font-size: 1.5rem; 
  color: #4F4630;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
} 

.confirm-order-button:hover {
  cursor: pointer; 
  border: 1px solid #dcdcdc; 
  transition: ease-in-out 0.2s;
  box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.7);
  color: #0b5f79;
}

.confirm-order-button:active {
  border: 1px solid #dcdcdc; 
  box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,0.5);
  transition: ease-in-out 0.2s;
  color: #0b5f79;
}

/*Gallery section*/

.gallery_filters {
  margin: 20px; 
}

.gallery_images_preview {
  -moz-column-width: 202px;
  -webkit-column-width: 202px;
  -moz-column-gap: 0.5rem; 
  -webkit-column-gap: 0.5rem; 
  column-count: auto;
  column-rule-width: 0.5rem;
} 

.gallery_image-container {
  margin: 0.5rem; 
  display: inline-block;
  padding: 0; 
}

.gallery_image {
  width: auto;
  height: auto;
  max-width: 200px;
  text-align: center;
  border: 1px solid transparent; 
  border-radius: 5px; 
  transition: ease-in-out 0.1s;
}

.gallery_image:hover {
  border: 1px solid #dcdcdc; 
  border-radius: 5px; 
  box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.7);
  transition: ease-in-out 0.1s;
  filter: brightness(115%);
} 

.gallery_image:active {
  border: 1px solid #20d6cd; 
  box-shadow: 0 0 10px #20d6cd;
  filter: contrast(125%) brightness(115%);
  transition: ease-in-out 0.1s;
  max-width: 400px; // make with js or turn on after pagination ok 
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%);
} 

.gallery_image-select {
  width: auto;
  height: auto;
  max-height: 500px; 
  border: 1px solid transparent; 
  border-radius: 5px; 
  box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.7);
  transition: ease-in-out 0.1s;
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%,-50%);
}

/*Breadcrumbs*/

.breadcrumbs {
  margin: 20px; 
  padding: 0; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  align-items: center;
  align-content: center; 
  font: 1rem georgia, times, serif; 
  color: #4F4630; 
} 

.breadcrumbs_arrow {
  font-size: 0.9rem; 
  border: solid #4F4630;
  border-width: 0 0.15em 0.15em 0;
  display: inline-block;
  padding: .30em;
  margin-left: 0.5em;
  margin-right: 0.7em;
  transform:rotate(-45deg);
}

/*Site pages*/

.site-section {
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: auto; 
  position: relative;
  transition: ease-in-out 0.5s;
}

.site-section_content {
  display: flex; 
  flex-wrap: wrap; 
  align-content: flex-start; 
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 20px; 
}

.site-section_information {
  height: auto; 
  margin: 0; 
  padding: 0; 
  width: 65%; 
  border-left: 0.5px solid #7e7662;
} 

.site-section_subsection {
  margin: 10px; 
  display: flex; 
  flex-wrap: wrap; 
  align-content: center; 
  align-items: center;
  justify-content: space-between;
} 

.site-section_subsection:nth-of-type(2n) {
  border-top: 0.5px solid #7e7662; 
  border-bottom: 0.5px solid #7e7662; 
}

.site-section_image-container {
  margin: 0; 
  padding: 0; 
}

.site-section_image {
  width: auto;
  max-width: 300px;
  height: auto;
  text-align: center;
  border: 2px solid #dcdcdc; 
  border-radius: 5px; 
  box-shadow: 7px 7px 7px 2px rgba(0,0,0,0.7);
}

.site-section_subsection-information  {
  margin: 0 20px;
  padding: 0; 
  max-width: calc((100% - 320px) * 0.9);
}

/* Tables */

.table {
  padding: 0; 
  margin: 10px auto; 
  font: 1rem arial, helvetica, clean, sans-serif; 
  color: #4F4630; 
  text-align: justify;
} 

.table_row {
  text-align: left;
  padding: 0; 
  margin: 0; 
} 

.table_cell {
  padding: 5px; 
  margin: 0;
}

.table_header {
  text-align: center;
  font-weight: bold; 
  font-size: 1.1em; 
  background-color: #e3e2e0;
}

.admission_table {
  display: grid; 
  grid-template-columns: 0.60fr 0.2fr 0.2fr;
  grid-template-rows: auto;
  border-left: 1px solid #938d86;
  border-right: 1px solid #938d86;
} 

.admission_table:first-of-type {
  border-top: 1px solid #938d86;
} 

.admission_table:last-of-type {
  border-bottom: 1px solid #938d86;
}

.itinerary_table {
  display: grid; 
  grid-template-columns: 0.50fr 0.5fr;
  grid-template-rows: auto;
}

/* Lists */

.unordered-list {
  list-style-type: none;
}

.list-item::before {
  display: inline-block;
  content: ""; 
  font-size: 0.9rem; 
  border: solid #4F4630;
  border-width: 0 0.15em 0.15em 0;
  padding: .30em;
  margin-left: 0.5em;
  margin-right: 0.7em;
  transform:rotate(-45deg);
}

/* Exhibits and events sections */

.ancient-world-slider {
  background-image: url(../images/Exhibits/Ancient-world/ancient-world-slider01.jpg);
} 

.history-of-weapons-slider {
  background-image: url(../images/Exhibits/History-of-weapons/history-of-weapons-slider01.jpg);
} 

.human-evolution-slider {
  background-image: url(../images/Exhibits/Human-Evolution/human-evolution-slider01.jpg);
} 

.paleontology-slider {
  background-image: url(../images/Exhibits/Paleontology/paleontology-slider01.jpg);
} 

.wild-life-slider {
  background-image: url(../images/Exhibits/Wild-life/wild-life-slider01.jpg);
} 

.fossils-in-focus-slider {
  background-image: url(../images/Events/Fossils-in-Focus/fossils-in-focus-slider01.jpg);
} 

.mummies-slider {
  background-image: url(../images/Events/Mummies/mummies-slider01.jpg);
} 

.the-titanosaur-slider {
  background-image: url(../images/Events/The-Titanosaur/the-titanosaur-slider01.jpg);
} 

.gallery-page_button {
  width: auto; 
  min-height: 60px; 
  border-radius: 5px; 
  border: 1px solid #a21029; 
  transition: ease-in-out 0.2s;
  text-transform: uppercase;
  padding: 0 8px 0 8px; 
  margin: 20px 0; 
  font-weight: bold; 
  font-size: 1.5rem; 
  color: #4F4630;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
  position: relative; 
  left: 50%; 
  transform: translate(-50%,0);
} 

.gallery-page_button:hover {
  cursor: pointer; 
  border: 1px solid #dcdcdc; 
  transition: ease-in-out 0.2s;
  box-shadow: 7px 7px 15px 1px rgba(0,0,0,0.7);
  color: #0b5f79;
}

.gallery-page_button:active {
  border: 1px solid #dcdcdc; 
  box-shadow: inset 5px 5px 10px 1px rgba(0,0,0,0.5);
  transition: ease-in-out 0.2s;
  color: #0b5f79;
}

/* Search results page */ 

/*Footer*/

.footer {
  align-content: space-around;
  align-items: flex-end; 
  background-color: #f6f6f6; 
  border-top: 7px solid #a6a6a6; 
  display: flex; 
  flex-wrap: wrap; 
  height: auto; 
  min-height: 100px; 
  justify-content: space-around; 
  margin: 0 auto; 
  padding: 0; 
  position: relative;
  width: 100%; 
}

.footer-text {
  color: #c2c2c2; 
  margin: 0; 
  margin-bottom: 20px; 
} 

/*Footer social icons*/

.footer_social-links-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-content: space-around;
  align-items: center; 
  margin: 0; 
  margin-bottom: 20px; 
}

.social-link {
  width: 32px;
  height: 32px;
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  display: block;
  position: relative;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin: 0 2px; 
}

.svg-social-icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
  fill: #c1c1c1;
} 

.svg-social-icon:not(:root) {
  overflow: hidden;
} 

.social-link:hover .svg-social-icon-twitter {
  fill: #5aa8df;
  border-color: #5aa8df;
} 

.social-link:hover .svg-social-icon-facebook {
  fill: #4460a0;
  border-color: #4460a0;
} 

.social-link:hover .svg-social-icon-instagram {
  fill: #275a85;
  border-color: #275a85;
} 

.social-link:hover .svg-social-icon-youtube {
  fill: #ce1312;
  border-color: #ce1312;
} 

.social-link:hover .svg-social-icon-tumblr {
  fill: #35455f;
  border-color: #35455f;
} 

.social-link-twitter:hover {
  border-color: #5aa8df;
} 

.social-link-twitter:active {
  border-color: #5aa8df;
  box-shadow: 0 0 15px #5aa8df;
} 

.social-link-facebook:hover {
  border-color: #4460a0;
}

.social-link-facebook:active {
  border-color: #4460a0;
  box-shadow: 0 0 15px #4460a0;
}

.social-link-instagram:hover {
  border-color: #275a85;
}

.social-link-instagram:active {
  border-color: #275a85;
  box-shadow: 0 0 15px #275a85;
}

.social-link-youtube:hover {
  border-color: #ce1312;
}

.social-link-youtube:active {
  border-color: #ce1312;
  box-shadow: 0 0 15px #ce1312;
}

.social-link-tumblr:hover {
  border-color: #35455f;
}

.social-link-tumblr:active {
  border-color: #35455f;
  box-shadow: 0 0 15px #35455f;
} 

/* Other */

.display-hidden {
  height: 0; 
  max-height: 0; 
  overflow: hidden;
  position: relative; 
}